<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Indice</title>
  </head>
  <body>
    <p></p><a routerLink="emprendedores" class="button" type="button">Emprendedores</a>

    <p></p><a routerLink="capacitacion-pil" class="button" type="button">Capacitacion PIL</a>
    <p></p><a routerLink="cambio-empresa" class="button" type="button">Cambio de Empresa</a>
    <p></p><a routerLink="autorizacion-tutelar" class="button" type="button">Autorizacion Tutelar</a>
    <p></p><a routerLink="inscripcion-cti"  class="button" type="button">Inscripción CTICTD</a>
    <p></p><a routerLink="baja-beneficiarios" class="button" type="button">Baja Beneficiarios</a>
    <p></p><a routerLink="descarga-o-denuncia" class="button" type="button">Descarga o Denuncia</a>
    <p></p><a routerLink="renuncia-programa" class="button" type="button">Renuncia al Programa</a>
    <p></p><a routerLink="reconsideracion-beneficiario" class="button" type="button">Reconsideracion Beneficiario<p></p></a>
  </body>
</html>