<div flex = 33 id="container">
    <h1>{{ title }}</h1>

    <form [formGroup]="form" >
      <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>
      <mat-card>
        En esta modalidad el empleador debe presentar además el formulario de "Alta Temprana" de AFIP y la Planilla
        de horarios.
          <p></p>
          MODALIDAD CTI/CTD:
          <ol>
            <li>CTI: Contrato por Tiempo Indeterminado</li>
            <li>CTD: Contarto por Tiempo Determinado siempre que el vencimiento del contrato sea igual o posterior
              a la finalización del programa
            </li>
          </ol>
          <div><p></p><b>IMPORTANTE:</b> Una vez completo el formulario deberá adjuntarse a <a  href="https://fid.cba.gov.ar/ee-fid-multinota/multinota/#/form/FID/MNOTA_OTRO?reparticion=SEPE01">Mesa de entrada e-tramites </a></div>

        <p></p>
        <div><b>RECUERDE QUE ESTE FORMULARIO ES DE PRESENTACIÓN OBLIGATORIA AL INICIO DE LA PRÁCTICA POR PARTE DE LAS EMPRESAS
          PARA LA LIQUIDACIÓN DE PAGOS, COBERTURA DE ART Y SUPERVISIONES.
        </b></div>
      <p></p>
        <p><button type="button" mat-raised-button color="primary" (click)="createPdf()" [disabled]="!form.valid">Generar Formulario en PDF</button></p>
      </mat-card>
    </form>

   <pre>
      {{model | json}}
    </pre>
  </div>
