<div flex = 33 id="container">
    <h1>{{ title }}</h1>

    <form [formGroup]="form" >
      <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>
      <mat-card>
        <b>EL BENEFICIARIO NO PODRÁ COMENZAR SU ENTRENAMIENTO EN LA NUEVA EMPRESA SI NO ESTÁ AUTORIZADO
          POR EL PROGRAMA. PODRÁ CONSULTAR SU ESTADO Y NOTIFICARSE EN LA PÁGINA WEB DEL PROGRAMA.
          <p></p>
          RECUERDE QUE LA NUEVA EMPRESA DEBE CUMPLIR CON LOS REQUISITOS DEL PROGRAMA Y DISPONER DE CUPO
          PARA SU ACEPTACIÓN.
        </b>
        <div><p></p><b>IMPORTANTE:</b> Una vez completo el formulario deberá adjuntarse a <a  href="https://fid.cba.gov.ar/ee-fid-multinota/multinota/#/form/FID/MNOTA_OTRO?reparticion=SEPE01">Mesa de entrada e-tramites </a></div>
        <p></p>
        <div><b>IMPORTANTE:</b> El beneficiario NO debe dejar su entrenamiento en la empresa de origen hasta tanto se le notifique la
        autorización del cambio de empresa. Sólo podrá dejar de trabajar en caso de baja, renuncia o denuncia por problemas laborales
      en curso, y quedarán como suspendidos en los programas, sin percibir el beneficio por los meses no trabajados.</div>
      <p></p>
        <p><button type="button" mat-raised-button color="primary" (click)="createPdf()" [disabled]="!form.valid">Generar Formulario en PDF</button></p>
      </mat-card>
    </form>

   <pre>
      {{model | json}}
    </pre>
  </div>
