<div flex = 33 id="container">
    <h1>{{ title }}</h1>

    <form [formGroup]="form" >
      <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>
      <mat-card>
        <p><b>IMPORTANTE:</b> Una vez completo el formulario deberá adjuntarse a <a  href="https://fid.cba.gov.ar/ee-fid-multinota/multinota/#/form/FID/MNOTA_OTRO?reparticion=SEPE01">Mesa de entrada e-tramites </a></p>

        <p>
            <b>Este trámite tiene el carácter de una solicitud de vacante que ocurra en el programa una vez iniciado,
            que se generan con renuncias o bajas de beneficiarios resultantes del  sorteo. Con lo cual, hasta que
            aquello no ocurra, el Ministerio no podrá atender esta solicitud.
            </b>
        </p>
      <p></p>
        <p><button type="button" mat-raised-button color="primary" (click)="createPdf()" [disabled]="!form.valid">Generar Formulario en PDF</button></p>
      </mat-card>
    </form>

   <pre>
      {{model | json}}
    </pre>
  </div>
