<div flex = 33 id="container">
    <h1>{{ title }}</h1>

    <form [formGroup]="form" >
      <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>
      <mat-card>
        <div><p></p><b>IMPORTANTE:</b> Una vez completo el formulario deberá adjuntarse a <a  href="https://fid.cba.gov.ar/ee-fid-multinota/multinota/#/form/FID/MNOTA_OTRO?reparticion=SEPE01">Mesa de entrada e-tramites </a></div>

        <p></p>
        El beneficiario declara conocer las reglamentaciones vigentes del Programa. Los datos contenidos en la solicitud
        tienen carárcter de declaración jurada y están protegidos por el secreto estadístico.
        <p></p>
        <b>IMPORTANTE:</b> El beneficiario que renuncia al programa es dado de baja en el mismo y no puede reclamar con posterioridad el alta
        del programa.
        <p>En caso de beneficiarios asignados en la modalidad Contrato por Tiempo Indeterminado (CTI), se debe tener en cuenta que
            el vínculo laboral está regulado por la Dirección de Concilliación y Arbitraje del Ministerio de Trabajo, o la delegación del
            Ministerio de Trabajo correspondiente a cada localidad.
        </p>
      <p></p>
        <p><button type="button" mat-raised-button color="primary" (click)="createPdf()" [disabled]="!form.valid">Generar Formulario en PDF</button></p>
      </mat-card>
    </form>

   <pre>
      {{model | json}}
    </pre>
  </div>
